{% extends 'layout.html.twig' %}

{% block body %}


    {% if error %}
        <span style="color:red">{{ error.messageKey }}</span>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <div class="col-4">
            <p>
                Login: <input type="text" class="form-control" name="_username" value="{{ last_username }}"/>
            </p>

            <p>
                Password: <input type="text" class="form-control" name="_password" />
            </p>

            <button type="submit" class="btn btn-outline-primary">Submit!</button>
        </div>
    </form>

{% endblock %}
