{% extends'layout.html.twig' %}

  {% block body %}
    page with new created post
    <br>
    <div class="row">
      <div class="col-5">
        {{ form(postFormNew) }}
      </div>
    </div>

  {% endblock %}